<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
  <div class="field">
    <%= f.text_field :name, :placeholder => "FULL NAME" %>
  </div><br>
  <div class="field">
    <%= f.text_field :email, :placeholder => "EMAIL" %>
  </div><br>
  <div class="field">
    <%= f.text_field :repo, :placeholder => "PROJECT REPO" %>
  </div><br>
  <div class="field">
    <%= f.text_field :url, :placeholder => "PROJECT URL" %>
  </div><br>
  <div class="skills">
  <div class="field">
    <%= f.label :bestpract, "USING BEST PRACTICES:" %>
    <%= f.number_field :bestpract %>
  </div>
  <div class="field">
    <%= f.label :moddev, "MODULAR DEVELOPMENT:" %>
    <%= f.number_field :moddev %>
  </div>
  <div class="field">
    <%= f.label :fsworkflow, "FUll STACK WORKFLOW UNDERSTANDING:" %>
    <%= f.number_field :fsworkflow %>
  </div>
  <div class="field">
    <%= f.label :testing, "TESTING:" %>
    <%= f.number_field :testing %>
  </div>
  <div class="field">
    <%= f.label :dbknowl, "DATABASE KNOWLEDGE:" %>
    <%= f.number_field :dbknowl %>
  </div>
  <div class="field">
    <%= f.label :debugging, "DEBUGGING:" %>
    <%= f.number_field :debugging %>
  </div>
  <div class="field">
    <%= f.label :psolving, "PROBLEM SOLVING SKILLS:" %>
    <%= f.number_field :psolving %>
  </div>
  <div class="field">
    <%= f.label :javascript, "JAVASCRIPT:" %>
    <%= f.number_field :javascript %>
  </div>
  <div class="field">
    <%= f.label :HTML, "HTML:" %>
    <%= f.number_field :HTML %>
  </div>
  <div class="field">
    <%= f.label :CSS, "CSS:" %>
    <%= f.number_field :CSS %>
  </div>
  <div class="field">
    <%= f.label :team, "WORKING ON A TEAM:" %>
    <%= f.number_field :team %>
  </div>
  <div class="field">
    <%= f.label :motivation, "SELF MOTIVATION:" %>
    <%= f.number_field :motivation %>
  </div>
  <div class="field">
    <%= f.label :communication, "COMMUNICATION SKILLS:" %>
    <%= f.number_field :communication %>
  </div>
  <div class="field">
    <%= f.label :energy, "YOUR OWN ENERGY LEVEL:" %>
    <%= f.number_field :energy %>
  </div>
  <div class="field">
    <%= f.label :intelligence, "INTELLIGENCE:" %>
    <%= f.number_field :intelligence %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "SUBMIT" %>
  </div>
  </div>
<% end %>
