<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "NAME" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "EMAIL" %>
  </div>
  <div class="field">
    <%= f.text_field :repo , :placeholder => "PROJECT REPO" %>
  </div>
  <div class="field">
    <%= f.text_field :url, :placeholder => "PROJECT URL" %>
  </div>
  <div class="skills">
  <div class="field">
    <%= f.label :skill1, "USING BEST PRACTICES FOR OOP:" %><br>
    <%= f.number_field :skill1 %>
  </div>
  <div class="field">
    <%= f.label :skill2, "MODULAR DEVELOPMENT:" %><br>
    <%= f.number_field :skill2 %>
  </div>
  <div class="field">
    <%= f.label :skill3, "FULL STACK WORKFLOW UNDERSTANDING:" %><br>
    <%= f.number_field :skill3 %>
  </div>
  <div class="field">
    <%= f.label :skill4, "TESTING:" %><br>
    <%= f.number_field :skill4 %>
  </div>
  <div class="field">
    <%= f.label :skill5, "DATABASE KNOWLEDGE:" %><br>
    <%= f.number_field :skill5 %>
  </div>
  <div class="field">
    <%= f.label :skill6, "DEBUGGING:" %><br>
    <%= f.number_field :skill6 %>
  </div>
  <div class="field">
    <%= f.label :skill7, "PROBLEM SOLVING SKILLS:" %><br>
    <%= f.number_field :skill7 %>
  </div>
  <div class="field">
    <%= f.label :skill8, "JAVASCRIPT:" %><br>
    <%= f.number_field :skill8 %>
  </div>
  <div class="field">
    <%= f.label :skill9, "HTML:"%><br>
    <%= f.number_field :skill9 %>
  </div>
  <div class="field">
    <%= f.label :skill10, "CSS:" %><br>
    <%= f.number_field :skill10 %>
  </div>
  <div class="field">
    <%= f.label :skill11, "WORKING ON A TEAM:" %><br>
    <%= f.number_field :skill11 %>
  </div>
  <div class="field">
    <%= f.label :skill12, "SELF MOTIVATION:" %><br>
    <%= f.number_field :skill12 %>
  </div>
  <div class="field">
    <%= f.label :skill13, "COMMUNICATION SKILLS:" %><br>
    <%= f.number_field :skill13 %>
  </div>
  <div class="field">
    <%= f.label :skill14, "YOUR OWN ENERGY LEVEL:"%><br>
    <%= f.number_field :skill14 %>
  </div>
  <div class="field">
    <%= f.label :skill15, "Intelligence:" %><br>
    <%= f.number_field :skill15 %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
