<p id="notice"><%= notice %></p>

<h1>Listing Applicants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Repo</th>
      <th>Url</th>
      <th>Skill1</th>
      <th>Skill2</th>
      <th>Skill3</th>
      <th>Skill4</th>
      <th>Skill5</th>
      <th>Skill6</th>
      <th>Skill7</th>
      <th>Skill8</th>
      <th>Skill9</th>
      <th>Skill10</th>
      <th>Skill11</th>
      <th>Skill12</th>
      <th>Skill13</th>
      <th>Skill14</th>
      <th>Skill15</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.repo %></td>
        <td><%= applicant.url %></td>
        <td><%= applicant.skill1 %></td>
        <td><%= applicant.skill2 %></td>
        <td><%= applicant.skill3 %></td>
        <td><%= applicant.skill4 %></td>
        <td><%= applicant.skill5 %></td>
        <td><%= applicant.skill6 %></td>
        <td><%= applicant.skill7 %></td>
        <td><%= applicant.skill8 %></td>
        <td><%= applicant.skill9 %></td>
        <td><%= applicant.skill10 %></td>
        <td><%= applicant.skill11 %></td>
        <td><%= applicant.skill12 %></td>
        <td><%= applicant.skill13 %></td>
        <td><%= applicant.skill14 %></td>
        <td><%= applicant.skill15 %></td>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
