<p id="notice"><%= notice %></p>

<h1>Listing Applicants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Repo</th>
      <th>Url</th>
      <th>Using best practices for oop</th>
      <th>Modular development</th>
      <th>Full stack workflow understand</th>
      <th>Testing</th>
      <th>Database knowledge</th>
      <th>Debugging</th>
      <th>Problem solving skills</th>
      <th>Javascript</th>
      <th>Html</th>
      <th>Css</th>
      <th>Working on a team</th>
      <th>Self motivation</th>
      <th>Communication skills</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.repo %></td>
        <td><%= applicant.url %></td>
        <td><%= applicant.using_best_practices_for_OOP %></td>
        <td><%= applicant.modular_development %></td>
        <td><%= applicant.full_stack_workflow_understand %></td>
        <td><%= applicant.testing %></td>
        <td><%= applicant.database_knowledge %></td>
        <td><%= applicant.debugging %></td>
        <td><%= applicant.problem_solving_skills %></td>
        <td><%= applicant.javascript %></td>
        <td><%= applicant.HTML %></td>
        <td><%= applicant.CSS %></td>
        <td><%= applicant.working_on_a_team %></td>
        <td><%= applicant.self_motivation %></td>
        <td><%= applicant.communication_skills %></td>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
