<p id="notice"><%= notice %></p>

<h1>Listing Applicants</h1>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Project Repo</th>
      <th>Project Url</th>
      <th>Using Best Practices for OOP</th>
      <th>Modular Development</th>
      <th>Full Stack Workflow Understanding</th>
      <th>Testing</th>
      <th>Database knowledge</th>
      <th>Debugging</th>
      <th>Problem Solving Skills</th>
      <th>Javascript</th>
      <th>Html</th>
      <th>Css</th>
      <th>Working on a Team</th>
      <th>Self Motivation</th>
      <th>Communication Skills</th>
      <th>Intelligence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.email %></td>
        <td><%= applicant.repo %></td>
        <td><%= applicant.url %></td>
        <td><%= applicant.bestpract %></td>
        <td><%= applicant.moddev %></td>
        <td><%= applicant.fsworkflow %></td>
        <td><%= applicant.testing %></td>
        <td><%= applicant.dbknowl %></td>
        <td><%= applicant.debugging %></td>
        <td><%= applicant.psolving %></td>
        <td><%= applicant.javascript %></td>
        <td><%= applicant.HTML %></td>
        <td><%= applicant.CSS %></td>
        <td><%= applicant.team %></td>
        <td><%= applicant.motivation %></td>
        <td><%= applicant.communication %></td>
        <td><%= applicant.intelligence %></td>
        <td><%= link_to 'Show', applicant %></td>
        <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
        <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Applicant', new_applicant_path %>
