<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @applicant.repo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @applicant.url %>
</p>

<p>
  <strong>Using best practices for oop:</strong>
  <%= @applicant.using_best_practices_for_OOP %>
</p>

<p>
  <strong>Modular development:</strong>
  <%= @applicant.modular_development %>
</p>

<p>
  <strong>Full stack workflow understand:</strong>
  <%= @applicant.full_stack_workflow_understand %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @applicant.testing %>
</p>

<p>
  <strong>Database knowledge:</strong>
  <%= @applicant.database_knowledge %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @applicant.debugging %>
</p>

<p>
  <strong>Problem solving skills:</strong>
  <%= @applicant.problem_solving_skills %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @applicant.javascript %>
</p>

<p>
  <strong>Html:</strong>
  <%= @applicant.HTML %>
</p>

<p>
  <strong>Css:</strong>
  <%= @applicant.CSS %>
</p>

<p>
  <strong>Working on a team:</strong>
  <%= @applicant.working_on_a_team %>
</p>

<p>
  <strong>Self motivation:</strong>
  <%= @applicant.self_motivation %>
</p>

<p>
  <strong>Communication skills:</strong>
  <%= @applicant.communication_skills %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
