<p id="notice"><%= notice %></p>
<div class='confirmation'>
<h2> Thank you for your interest in Trim Agency.<h2>
<h2>We will be in contact with you soon.<h2>
</div>



<!--
<div class="show">
<p>
  <strong>Full Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Project Repo:</strong>
  <%= @applicant.repo %>
</p>

<p>
  <strong>Project URL:</strong>
  <%= @applicant.url %>
</p>

<p>
  <strong>Using Best Practices for OOP:</strong>
  <%= @applicant.bestpract %>
</p>

<p>
  <strong>Modular Development:</strong>
  <%= @applicant.moddev %>
</p>

<p>
  <strong>Full Stack Workflow Understanding:</strong>
  <%= @applicant.fsworkflow %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @applicant.testing %>
</p>

<p>
  <strong>Database Knowledge:</strong>
  <%= @applicant.dbknowl %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @applicant.debugging %>
</p>

<p>
  <strong>Problem Solving Skills:</strong>
  <%= @applicant.psolving %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @applicant.javascript %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @applicant.HTML %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @applicant.CSS %>
</p>

<p>
  <strong>Working on a Team:</strong>
  <%= @applicant.team %>
</p>

<p>
  <strong>Self Motivation:</strong>
  <%= @applicant.motivation %>
</p>

<p>
  <strong>Communication Skills:</strong>
  <%= @applicant.communication %>
</p>

<p>
  <strong>Your Own Energy Level:</strong>
  <%= @applicant.energy %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @applicant.intelligence %>
</p>
</div>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> | -->
