<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @applicant.repo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @applicant.url %>
</p>

<p>
  <strong>Bestpract:</strong>
  <%= @applicant.bestpract %>
</p>

<p>
  <strong>Moddev:</strong>
  <%= @applicant.moddev %>
</p>

<p>
  <strong>Fsworkflow:</strong>
  <%= @applicant.fsworkflow %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @applicant.testing %>
</p>

<p>
  <strong>Dbknowl:</strong>
  <%= @applicant.dbknowl %>
</p>

<p>
  <strong>Debugging:</strong>
  <%= @applicant.debugging %>
</p>

<p>
  <strong>Psolving:</strong>
  <%= @applicant.psolving %>
</p>

<p>
  <strong>Javascript:</strong>
  <%= @applicant.javascript %>
</p>

<p>
  <strong>Html:</strong>
  <%= @applicant.HTML %>
</p>

<p>
  <strong>Css:</strong>
  <%= @applicant.CSS %>
</p>

<p>
  <strong>Team:</strong>
  <%= @applicant.team %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @applicant.motivation %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @applicant.communication %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @applicant.intelligence %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
