<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @applicant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @applicant.email %>
</p>

<p>
  <strong>Repo:</strong>
  <%= @applicant.repo %>
</p>

<p>
  <strong>Url:</strong>
  <%= @applicant.url %>
</p>

<p>
  <strong>Skill1:</strong>
  <%= @applicant.skill1 %>
</p>

<p>
  <strong>Skill2:</strong>
  <%= @applicant.skill2 %>
</p>

<p>
  <strong>Skill3:</strong>
  <%= @applicant.skill3 %>
</p>

<p>
  <strong>Skill4:</strong>
  <%= @applicant.skill4 %>
</p>

<p>
  <strong>Skill5:</strong>
  <%= @applicant.skill5 %>
</p>

<p>
  <strong>Skill6:</strong>
  <%= @applicant.skill6 %>
</p>

<p>
  <strong>Skill7:</strong>
  <%= @applicant.skill7 %>
</p>

<p>
  <strong>Skill8:</strong>
  <%= @applicant.skill8 %>
</p>

<p>
  <strong>Skill9:</strong>
  <%= @applicant.skill9 %>
</p>

<p>
  <strong>Skill10:</strong>
  <%= @applicant.skill10 %>
</p>

<p>
  <strong>Skill11:</strong>
  <%= @applicant.skill11 %>
</p>

<p>
  <strong>Skill12:</strong>
  <%= @applicant.skill12 %>
</p>

<p>
  <strong>Skill13:</strong>
  <%= @applicant.skill13 %>
</p>

<p>
  <strong>Skill14:</strong>
  <%= @applicant.skill14 %>
</p>

<p>
  <strong>Skill15:</strong>
  <%= @applicant.skill15 %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
