<h1>Hi Tim, <%= @applicant.name %> has filled out an apprentice survey!<h1>

<p>Full Name: <%= @applicant.name %></p>
<p>Email: <%= @applicant.email %></p>
<p>Project Repo: <%= @applicant.repo %></p>
<p>Project URL: <%= @applicant.url %></p>
<p>Using Best Practices: <%= @applicant.bestpract %></p>
<p>Modular Development: <%= @applicant.moddev %></p>
<p>Full Stack Workflow Understanding: <%= @applicant.fsworkflow %></p>
<p>Testing: <%= @applicant.testing %></p>
<p>Database Knowledge: <%= @applicant.dbknowl %></p>
<p>Debugging: <%= @applicant.debugging %></p>
<p>Problem Solving Skills: <%= @applicant.psolving %></p>
<p>Javascript: <%= @applicant.javascript %></p>
<p>HTML: <%= @applicant.HTML %></p>
<p>CSS: <%= @applicant.CSS %></p>
<p>Working on a Team: <%= @applicant.team %></p>
<p>Self Motivation: <%= @applicant.motivation %></p>
<p>Communication Skills: <%= @applicant.communication %></p>
<p>Your Own Energy Level: <%= @applicant.energy %></p>
<p>Intelligence: <%= @applicant.intelligence %></p>

<p>Please visit http://trimapprentice.herokuapp.com/applicants to see all current applicants</p>
