<h1>Hello, <%= @applicant.name %> has filled out an apprentice survey!.<h1>
<p>Email: <%= @applicant.email %></p>
<p>Repo: <%= @applicant.repo %></p>
<p> <%= @applicant.url %></p>
<p> <%= @applicant.bestpract %></p>
<p> <%= @applicant.moddev %></p>
<p> <%= @applicant.fsworkflow %></p>
<p> <%= @applicant.testing %></p>
<p> <%= @applicant.dbknowl %></p>
<p> <%= @applicant.debugging %></p>
<p> <%= @applicant.psolving %></p>
<p> <%= @applicant.javascript %></p>
<p> <%= @applicant.HTML %></p>
<p> <%= @applicant.CSS %></p>
<p> <%= @applicant.team %></p>
<p> <%= @applicant.motivation %></p>
